<form action="/transactions/new" method="post" id="transactionForm" class="form">
  <label for="sender" class="label">To</label>
  <input type="text" id="sender" name="transaction[sender]" placeholder="my address" class="input">
  <output for="sender" id="senderError" class="errorText">Please enter an address</output>

  <label for="recipient" class="label">From</label>
  <input type="text" id="recipient" name="transaction[recipient]", placeholder="your address" class="input">
  <output for="recipient" id="recipientError" class="errorText">Please enter an address</output>

  <label for="amount" class="label">Amount</label>
  <input type="text" id="amount" name="transaction[amount]" placeholder="8" class="input">
  <output for="amount" id="amountError" class="errorText">Please enter a value</output>

  <button type="submit" class="btn" id="makeTransaction" form="transactionForm" value="submit">
    <div class="btn-text">Make a transaction /</div>
    <div class="btn-text">Feed the wombat</div>
    <div class="grass">
    <% 35.times { %><div class="blade"></div><% } %>
    </div>
  </button>
</form>
