<form action="/transactions/new" method="post" id="transactionForm" class="form">
  <label for="sender">To:</label>
  <input type="text" id="sender" name="transaction[sender]" placeholder="my address">

  <label for="recipient">From:</label>
  <input type="text" id="recipient" name="transaction[recipient]", placeholder="your address">

  <label for="amount">Amount:</label>
  <input type="text" id="amount" name="transaction[amount]" placeholder="8">

  <button type="submit" class="btn" id="makeTransaction" form="transactionForm" value="submit">
    <div class="btn-text">Make a transaction /</div>
    <div class="btn-text">Feed the wombat</div>
    <div class="grass">
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
      <div class="blade"></div>
    </div>
  </button>
</form>
