<div class="flexbox">
  <div class="wombatFace">
    <div class="ear ear-left"></div>
    <div class="ear ear-right"></div>

    <div class="face">
      <div class="container eye-container">
        <div class="eyelid eyelid-left"></div>
        <div class="eye eye-left"></div>

        <div class="eyelid eyelid-right"></div>
        <div class="eye eye-right"></div>
      </div>

      <div class="container nose-container">
        <div class="nose nose-top"></div>
        <div class="nose nose-bottom"></div>
      </div>
    </div>
  </div>
</div>
